.main {
  background-color: inherit;
  border-radius: 5%;
  box-shadow: 2px 2px 10px black;
  overflow: hidden;
}
.title, .value {
  text-anchor: end;
  text-shadow: 2px 2px 10px black;
}
.title {
  font-size: 20px;
}
.value {
  font-size: 35px;
  font-family: 'Seven segment';
}
.path_bkg, .path_frg {
  fill: none;
  stroke-linecap: butt;
}
.path_bkg {
  stroke: url(#gauge_gradient);
  stroke-width: 18;
}
.path_frg {
  stroke: var(--testinfo-bk);
  stroke-width: 16;
}