.svg {
  position: relative;
  background-color: inherit;
  border-radius: 5%;
  box-shadow: 2px 2px 10px black;
}

svg > text {
  fill: white;
}
.bar {
  fill: none;
  stroke: var(--testinfo-bk)

}
.title, .value {
  font-size: 24px;
  text-anchor: end;
  text-shadow: 2px 2px 4px black;
}
.value {
  font-size: 40px;
  font-family: 'Seven segment';
}