:root {
  --testinfo-bk: rgb(60, 60, 60);
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--testinfo-bk);
  color: white;
  overflow: hidden;
}
.datafields, .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 36px;
  column-gap: 20px;
}
.datafields {
  overflow: visible;
  height: fit-content;
  grid-template-rows: repeat(11,1fr);
  row-gap: 20px;
  grid-auto-flow: column;
  padding-top: 10px;
}
.gauges {
  width: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* justify-content: space-between; */
}
pre {
  text-align: left;
  justify-content: baseline;
}